<div class="container">
    <form [formGroup]="accounForm" novalidate (ngSubmit)="submit()">
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input 
          type="email"
          class="form-control" 
          id="exampleInputEmail1"
          formControlName="userEmail"
          >
          <span 
          *ngIf="accounForm.controls['userEmail'].invalid && accounForm.controls['userEmail'].touched"
          class="redText"    
          >
          <small>Введите корректный Email</small>
          </span>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Имя</label>
            <input 
            type="email" 
            class="form-control" 
            id="exampleInputEmail1"
            formControlName="userName"
            >
            <span 
            *ngIf="accounForm.controls['userName'].invalid && accounForm.controls['userName'].touched"
            class="redText"    
            >
            <small>Введите имя</small>
            </span>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Фамилия</label>
            <input 
            type="email" 
            class="form-control" 
            id="exampleInputEmail1"
            formControlName="userSurname"
            >
            <span 
            *ngIf="accounForm.controls['userSurname'].invalid && accounForm.controls['userSurname'].touched"
            class="redText"    
            >
            <small>Введите фамилию</small>
            </span>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Мобильный</label>
          <input 
          type="email" 
          class="form-control" 
          id="exampleInputEmail1"
          formControlName="userPhone"
          >
          <span 
          *ngIf="accounForm.controls['userPhone'].invalid && accounForm.controls['userPhone'].touched"
          class="redText"    
          >
          <small>Введите корректный номер телефона</small>
          </span>
        </div>
        <div class="alert alert-success" [hidden]='alertHidden'>
            <span>Пользователь успешно добавлен</span>
        </div>
        <div class="container">
            <button type="submit" class="btn btn-primary" [disabled]="accounForm.invalid">Добавить пользователя</button>
        </div>
    </form>
</div> 