<div class="container">
  <p><b>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat sint quidem officiis natus adipisci, explicabo voluptates! Nulla, eaque voluptas. Rem modi id, accusantium soluta nobis iste veritatis sequi similique facilis.</b></p>
  <button class="btn btn-primary" (click)="start()">Start</button>
</div>
<div *mobxAutorun>
    <h6>{{store.counter}}</h6>
    <br/>
    <button (click)="increment()">Increment++</button>
    <button (click)="decrement()">Decrement--</button>
</div>
  
