<div class="container-form">
    <h5 *ngIf="getNew()">Заказ {{ordersForLastMonth}} от {{"01." + currentMonth}}</h5>
    <form [formGroup]="orderForm" novalidate (ngSubmit)="submit()">
        <div class="customer">
            <div class="customer-form">
                <p><b>Заказчик</b></p>
                <div class="form-group row">
                    <label for="inputEmail" class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <input 
                        class="form-control"
                        id="inputEmail"
                        formControlName="customerEmail"
                        placeholder="email@yourcompany.com"
                        >
                        <span 
                        *ngIf="orderForm.controls['customerEmail'].invalid && orderForm.controls['customerEmail'].touched"
                        class="redText"    
                        >
                        Введите корректный Email
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                        <label for="inputName" class="col-sm-4 col-form-label">Имя</label>
                        <div class="col-sm-8">
                            <input
                            class="form-control"
                            id="inputName"
                            formControlName="customerName"
                            >
                            <span 
                            *ngIf="orderForm.controls['customerName'].invalid && orderForm.controls['customerName'].touched"
                            class="redText"    
                            >
                            Введите имя
                            </span>
                        </div>
                </div>
                <div class="form-group row">
                        <label for="inputSurname" class="col-sm-4 col-form-label">Фамилия</label>
                        <div class="col-sm-8">
                            <input 
                            class="form-control"
                            formControlName="customerSurname"
                            id="inputSurname"
                            >
                            <span 
                            *ngIf="orderForm.controls['customerSurname'].invalid && orderForm.controls['customerSurname'].touched"
                            class="redText"    
                            >
                            Введите фамилию
                            </span>
                        </div>
                </div>
                <div class="form-group row">
                        <label for="inputPhone" class="col-sm-4 col-form-label">Мобильный</label>
                        <div class="col-sm-8">
                            <input 
                            class="form-control"
                            id="inputPhone"
                            formControlName="customerPhone"
                            >
                            <span 
                            *ngIf="orderForm.controls['customerPhone'].invalid && orderForm.controls['customerPhone'].touched"
                            class="redText"    
                            >
                            Введите корректный номер телефона
                            </span>
                            </div>
                </div>
            </div>
        </div>
                
        <div class="order">
            <div class="order-form">
                <p><b>Заказ</b></p>
                <div class="form-group row">
                    <label for="inputPositions" class="col-sm-4 col-form-label">Позиция</label>
                    <div class="col-sm-8" formArrayName="positions">
                        <div class="form-group"
                        *ngFor="let position of orderForm.controls['positions'].controls; let i = index"
                        >
                        <input 
                        class="form-control"
                        formControlName="{{i}}"
                        >
                        </div>
                        <p class="emulateLinkBehavior" (click)="addPosition()">+Добавить новую позицию</p>
                        <span 
                        *ngIf="orderForm.controls['positions'].invalid && orderForm.controls['positions'].touched"
                        class="redText"    
                        >
                        Поле не может быть пустым
                        </span>
                    </div>
                </div>

                <div class="form-group row">
                        <label for="selectType" class="col-sm-4 col-form-label">Тип заказа</label>
                        <div class="col-sm-8">
                            <select
                            id="selectType"
                            class="custom-select form-control"
                            formControlName="type"
                            [value]="type"
                            >
                                <option>Опт</option>
                                <option selected>Розница</option>
                            </select>
                            <span 
                            *ngIf="orderForm.controls['type'].invalid && orderForm.controls['type'].touched"
                            class="redText"    
                            >
                            Поле не может быть пустым
                            </span>
                        </div>
                </div>

                <div class="form-group row">
                        <label for="selectProvider" class="col-sm-4 col-form-label">Поставщик</label>
                        <div class="col-sm-8">
                            <select
                            id="selectProvider"
                            formControlName="provider"
                            class="custom-select form-control"
                            >
                                <option>Undead</option>
                            </select>
                            <span 
                            *ngIf="orderForm.controls['provider'].invalid && orderForm.controls['provider'].touched"
                            class="redText"    
                            >
                            Поле не может быть пустым
                            </span>
                        </div>
                </div>

                <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">ID заказа</label>
                        <div class="col-sm-8">
                            <input
                            class="form-control"
                            id="inputPassword"
                            [placeholder]="idValue"
                            [value]="idValue"
                            formControlName="id"
                            readonly
                            >
                            <span 
                            *ngIf="orderForm.controls['id'].invalid && orderForm.controls['id'].touched"
                            class="redText"    
                            >
                            Поле не может быть пустым
                            </span>
                        </div>
                </div>

                <div class="form-group row">
                        <label for="completeDate" class="col-sm-4 col-form-label">Дата выполнения заказа</label>
                        <div class="col-sm-8">
                            <input type="text"
                            placeholder="Выберете дату"
                            id="completeDate"
                            formControlName="completeDate"
                            class="form-control"
                            bsDatepicker
                            placement="right"
                            [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY' }"
                            [bsValue]="completeDate"
                            >
                            <!-- <span 
                            *ngIf="orderForm.controls['completeDate'].invalid && orderForm.controls['completeDate'].touched"
                            class="redText"    
                            >
                            Дата должна соответствовать формату
                            </span> -->
                        </div>
                </div>        

                <div class="form-group row textarea">
                    <label for="comment" class="col-4 col-form-label">Коментарий</label>
                    <div class="col-sm-8">
                        <textarea
                        id="comment"
                        class="form-control"
                        formControlName="comment"
                        ></textarea>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="button-container">
            <div class="form-group">
                <button class="btn btn-primary" [disabled]="orderForm.invalid">
                    Сохранить
                </button>
            </div>
        </div>   
                
    </form>
</div>

