.container-form {
    width: 98%;
    margin: 1%;
    background-color: #f5f5f5;
    form {
        .customer {
            border: 1px solid #C0C0C0;
            .customer-form {
                margin-top: 1%;
                margin-left: 4%;
                width: 50%;
            }
        }
        .order {
            border: 1px solid #C0C0C0;
            border-top: none;
            .order-form {
                padding-top: 2%; 
                margin-left: 4%;
                width: 50%;
                .emulateLinkBehavior {
                    color: blue;
                    cursor: pointer;
                    font-size: 70%;
                    width: 50%;
                }
            }
        }
        
        .redText {
            color: red;
        }
        .button-container {
            padding: 2%;
            border: 1px solid #C0C0C0;
            border-top: none;
            text-align: center;
            .btn-primary {
                width: 100%;
            }
        }
    }
}
