<div class="list-container">
  <div class="bordered-element">
    <div class="alert alert-primary" role="alert">
      Простая таблица
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Дата создания</th>
          <th scope="col">Позиции</th>
          <th scope="col">ID заказа</th>
          <th scope="col">Тип заказа</th>
          <th scope="col">Заказчик</th>
          <th scope="col">Поставщик</th>
          <th scope="col">Выполнен</th>
          <th scope="col">Статус</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders$ | async">
          <td id="first-order-date-create">{{order?.creationOrder?.dateCreateOrder}}</td>
          <td id="first-order-positions">{{order?.creationOrder?.positions}}</td>
          <td id="first-order-id">{{order?.id}}</td>
          <td id="first-order-type">{{order?.creationOrder?.type}}</td>
          <td id="first-order-name-surname">{{order?.customer?.name}} {{order?.customer?.surname}}</td>
          <td id="first-order-provider">{{order?.creationOrder?.provider}}</td>
          <td id="first-order-date-fulfillment">{{order?.creationOrder?.dateFulfillment}}</td>
          <td>
            <a 
            class="badge" 
            [ngClass]="{'badge-warning': statusMapper(order.creationOrder.dateFulfillment), 'badge-success': !statusMapper(order.creationOrder.dateFulfillment)}"
            >{{ statusMapper(order.creationOrder.dateFulfillment) ? "In process" : "Done" }}</a>
          </td>
          <td>
            <button 
            *ngIf="canEdit(order.creationOrder.dateFulfillment)"
            type="button"
            class="btn btn-light"
            (click)="editOrder(order)"
            >
              <i class="edit large material-icons">edit</i>
            </button>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
