.list-container {
    margin: 20px;
    .bordered-element {
        border-radius: 1%;
        border: 1px solid #4682B4;
        .alert {
            color: #fff;
            background-color: #4682B4;
        }
        .table {
            width: 98%;
            margin: 1%;
        }
    }
}
